{% extends "base.html" %}

{% block content %}
<h1>Руководство для библиотекаря</h1>
<p></p>
<p class="font-italic">Добро пожаловать в Библиоквант!</p>
<p>После авторизации на сайте в качестве библиотекаря (ID пользователя 1) Вам доступен полный список книг, находящихся в библиотеке</p>
<p>Книги, отмеченные серым фоном, в данный момент находятся у кого-то из читателей, его ID можно увидеть в информации о книге</p>
<p>Чтобы изменить информацию о книге (например, ее "владельца"), щелкните кнопку "Изменить" и введите необходимые данные</p>
<p></p>
<p class="text-secondary">Для того, чтобы перейти к списку книг, нажмите на название программы в левом верхнем углу</p>
{% endblock %}