{% extends "base.html" %}

{% block content %}
    <h1>Руководство для пользователя</h1>
<br>
<p class="font-italic">Добро пожаловать в Библиоквант!</p>
<p>После авторизации на сайте Вам доступен полный список Ваших книг и список книг, находящихся в библиотеке</p>
<p>Книги, отмеченные серым фоном, в данный момент недоступны и находятся у кого-то другого</p>
<p class="font-italic">Приятного чтения!</p>
<br>
<p class="text-secondary">Для того, чтобы перейти к списку книг, нажмите на название программы в левом верхнем углу</p>
{% endblock %}